<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-translate="title"></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <link rel="stylesheet" href="../dist/output.css">
</head>

<body class="bg-white mx-4 lg:mx-[200px] md:mx-[100px] pt-2">
    <header>
        <div id="navbar"></div>
    </header>

    <main>
        <!-- Section avancement du paiement-->
        <div class="flex justify-center gap-4 relative mb-4">
            <div class="barre-horizontale"></div>
            <div class="flex flex-col items-center mx-2">
                <div class="bg-blue-100 w-16 h-16 rounded-full flex items-center justify-center">
                    <span class="text-nude-100 text-center text-lg">1</span>
                </div>
                <p class="text-center mt-2 font-Jost" data-translate="shopbar.circle.shop"></p>
            </div>
            <div class="flex flex-col items-center mx-2">
                <div class="bg-blue-100 w-16 h-16 rounded-full flex items-center justify-center">
                    <span class="text-nude-100 text-center text-lg">2</span>
                </div>
                <p class="text-center mt-2 font-Jost" data-translate="shopbar.circle.paid"></p>
            </div>
            <div class="flex flex-col items-center mx-2">
                <div class="bg-gris-100 w-16 h-16 rounded-full flex items-center justify-center">
                    <span class="text-nude-100 text-center text-lg">3</span>
                </div>
                <p class="text-center mt-2 font-Jost" data-translate="shopbar.circle.confirm"></p>
            </div>
        </div>
        <div class="md:flex justify-between">
            <div class="flex-col place-items-center">
                <!--Informations paratique-->
                <div class="md:max-w-xs">
                    <h2 class="font-semibold text-center">Informations paratiques</h2>
                    <div class="bg-nude-100 border border-solid mx-1 h-28 pl-5 pt-1 mt-2 max-w-lg rounded-lg">
                        <div class="border-solid">
                            <h3 class="font-medium text-center">Contact de l'organisme</h3>
                            <p class="font-light text-center">contact@EmmaPierre.com</p>
                            <p class="font-lig text-center">06 06 06 06 06</p>
                        </div>
                    </div>
                </div>

                <!-- Details de la livraison -->
                <div class="md:max-w-xs">
                    <h2 class="font-semibold text-center">Détails de la livraison</h2>
                    <div class="bg-nude-100 border border-solid mx-1 pl-5 pt-5 pb-5 mt-2 max-w-lg rounded-lg">
                        <div>
                            <p class="text-center">Adresse :</p>
                            <p class="text-center">10 Avenue des Champs-Elysée, 69000, Lyon</p>
                        </div>
                        <div>
                            <p class="text-center">Livré par :</p>
                            <p class="font-semibold text-center">Mondial relay <strong class="text-blue-100"> 3.50
                                </strong></p>
                        </div>
                        <div>
                            <p class="text-center">Delais de livraison</p>
                            <p class="font-light text-center">Entre le 08 et 11 avril</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Details de la transaction -->
            <div class="md:max-w-xs relative object-right">
                <h2 class="font-semibold text-center">Détails de la transaction</h2>
                <div class="bg-nude-100 border border-solid mx-1 h-20 pb-6 pl-3 pr-3 pt-1 mt-3 max-w-lg rounded-lg md:">
                    <div>
                        <p class="font-medium">Lorem ipsum dolor sit amet. <strong class="text-red-500"> *2</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong class="text-blue-100">
                                25&euro; </strong></p>
                    </div>
                </div>
                <div class="bg-nude-100 border border-solid mx-1 h-20 pb-6 pl-3 pr-3 pt-1 mt-3 max-w-lg rounded-lg">
                    <div>
                        <p class="font-medium">Lorem ipsum dolor sit amet. <strong class="text-red-500"> *2</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong class="text-blue-100">
                                25&euro; </strong></p>
                    </div>
                </div>
                <div class="bg-nude-100 border border-solid mx-1 h-20 pb-6 pl-3 pr-3 pt-1 mt-3 max-w-lg rounded-lg">
                    <div>
                        <p class="font-medium">Lorem ipsum dolor sit amet. <strong class="text-red-500"> *2</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong class="text-blue-100">
                                25&euro; </strong></p>
                    </div>
                </div>
                <div class="bg-nude-100 border border-solid mx-1 h-20 pb-6 pl-3 pr-3 pt-1 mt-3 max-w-lg rounded-lg">
                    <div>
                        <p class="font-medium">Lorem ipsum dolor sit amet. <strong class="text-red-500"> *2</strong></p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong class="text-blue-100">
                                25&euro; </strong></p>
                    </div>
                </div>
                <div>
                    <div class="bg-nude-100 border border-solid mx-1 h-8 mt-3 max-w-lg rounded-lg pl-3">
                        <p class="font-medium">Total payé(8 art) : <strong class="text-blue-100">200 &euro;</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center">
            <button class="text-white bg-blue-100 mt-6 rounded-full p-2 place-items-center">Valider et Payer</button>
        </div>
        <p class="text-center">Merci d'avoir passé votre commande sur notre site. A bientot !</p>
    </main>
    <footer class="md:md\:w-full">
        <div id="foot"></div>
    </footer>
</body>

<script src="js/import.js" type="module"></script>
<script>
    $(function () {
        $("#navbar").load("navbar.html");
    });
    $(function () {
        $("#foot").load("footer.html");
    });
</script>

</html>