<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-translate="title"></title>
        <link rel="stylesheet" href="../dist/output.css">

  </head>

  <body class="bg-nude-100 font-Jost">
    <div class="mx-4 lg:mx-[200px] md:mx-[100px]">
      <div id="navbar"></div>
      <div class="titre text-center mb-10">
        <h1 class="text-blue-100 text-3xl font-bold">IMPERTINENTES</h1>
      </div>
    </div>

    <div id="footer"></div>
  </body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {
    $("#navbar").load("navbar.html");
  });

  $(function () {
    $("#footer").load("footer.html");
  });
</script>

</html>
