<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Tailwind -->
  <link href="/dist/output.css" rel="stylesheet" />

  <title data-translate="title"></title>
  <script src="js/import.js" type="module"></script>
  <script src="lang/language.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body class="bg-nude-100 font-Jost">
  <div class="mx-4 lg:mx-[200px] md:mx-[100px]" id="navbar"></div>
  <div class="mx-4 lg:mx-[200px] md:mx-[100px] flex flex-col gap-y-6">
    <div class="absolute w-6/12 md:w-5/12 h-[72px] md:h-[217px] bg-corail-100 left-0 rounded-r-full opacity-25 -z-10"></div>
    <img src="../images/images/ImageHomepage.png" alt="image" class="absolute md:w-[350px] md:top-44 md:h-[350px] md:right-[200px] w-[100px] h-[100px] right-4 top-52">
    <div class="w-8/12 flex flex-col gap-y-2">
      <h1 class="font-title text-blue-100 text-7xl opacity-100 pt-10 md:pt-20 md:text-title">
        Bijoux
      </h1>
      <p class="text-blue-100 font-Jost text-base md:text-2xl">
        "Je fabrique tous mes bijoux dans mon atelier lyonnais à la main et en
        éditions limitées pour garantir une certaine exclusivité. Certains
        d'entre eux sont même uniques en leur genre."
      </p>
      <div>
        <button class="md:w-1/2 text-nude-100 bg-blue-100 px-[7px] md:px-3 md:py-4 py-[10px] rounded-3xl">
          Achetez maintenant
        </button>
      </div>
    </div>
    <div class="flex md:py-10 flex-wrap justify-center gap-x-4 md:gap-x-20 gap-y-4 md:flex-nowrap">
      <a href="precieuse.html" class="w-5/12 md:w-3/12 flex justify-center flex-col gap-y-2 items-center">
        <img src="../images/images/photo9.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase">
          Précieuses
        </p>
      </a>
      <a href="#" class="w-5/12 md:w-3/12 flex flex-col gap-y-2 items-center">
        <img src="../images/images/photo8.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase">
          Impertinentes
        </p>
      </a>
      <a href="#" class="w-5/12 md:w-3/12 flex flex-col gap-y-2 items-center">
        <img src="../images/images/photo7.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase">Unique</p>
      </a>
      <a href="#" class="w-5/12 md:w-3/12 flex flex-col gap-y-2 items-center">
        <img src="../images/images/photo6.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
        <p class="text-blue-100 font-semibold text-base uppercase">Couleur</p>
      </a>
    </div>
    
    <div class="flex flex-col gap-y-2">
      <p class="font-extrabold text-blue-100 text-xl md:text-subTitle">
        Découvrez nos articles à la une
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="mt-8 text-nude-100 md:px-7 md:py-4 bg-blue-100 px-4 py-3 rounded-xl">
          Découvrir maintenant
        </button>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-y-6 mt-6">
    <p class="mx-4 lg:mx-[200px] md:mx-[100px] text-blue-100 font-extrabold text-xl md:text-subTitle">Nos valeurs</p>
    <div class="w-full bg-nude-300 text-blue-100 px-5 py-[40px] text-center">
      <p class="lg:mx-[200px] md:mx-[100px]">
        Découvrez nos bijoux faits à la main dans notre atelier lyonnais en éditions limitées, voire même en unique
      exemplaire
      pour une exclusivité totale. Chaque matière est choisie avec soin pour garantir une qualité exceptionnelle et
      pour vous
      offrir une touche unique qui vous distinguera. Opter pour l'artisanat, c'est contribuer au maintien du
      savoir-faire et
      de l'emploi en France. Nous sommes fiers de vous proposer des bijoux de haute qualité, fabriqués avec passion et
      expertise. Merci de votre soutien !
      </p>
    </div>
  </div>
  <div class="mx-4 lg:mx-[200px] md:mx-[100px] mt-6 md:flex md:justify-between">
    <div class="grid md:block grid-flow-row grid-cols-12">
      <div class="col-span-10 flex flex-col gap-y-4 justify-center bg-white rounded-xl items-center py-5 px-4 md:py-16 md:px-10">
        <div class="h-12 w-12">
          <img src="../images/PHOTO/25147.jpg" alt="image" class="rounded-full w-full h-full">
        </div>
        <p class="text-center">“Lorem ipsum dolor
        sit amet consectetur.”</p>
        <div class="flex gap-1 items-center">
          <p class="text-corail-100">Nill Smith</p>
          <p>- Directrice financier</p>
        </div>
      </div>
    </div>
    <div class="grid md:block grid-flow-row grid-cols-12 md:mx-4 my-4">
      <div class="col-span-10 col-start-3 md:col-start-1 flex flex-col gap-y-4 justify-center bg-white rounded-xl items-center md:py-16 md:px-10 py-5 px-4">
        <div class="h-12 w-12">
          <img src="../images/PHOTO/25147.jpg" alt="image" class="rounded-full w-full h-full">
        </div>
        <p class="text-center">“Lorem ipsum dolor
          sit amet consectetur.”</p>
        <div class="flex gap-1 items-center">
          <p class="text-corail-100">Nill Smith</p>
          <p>- Directrice financier</p>
        </div>
      </div>
    </div>
    <div class="grid md:block grid-flow-row grid-cols-12">
      <div class="col-span-10 flex flex-col gap-y-4 justify-center bg-white rounded-xl items-center md:py-16 md:px-10 py-5 px-4">
        <div class="h-12 w-12">
          <img src="../images/PHOTO/25147.jpg" alt="image" class="rounded-full w-full h-full">
        </div>
        <p class="text-center">“Lorem ipsum dolor
          sit amet consectetur.”</p>
        <div class="flex gap-1 items-center">
          <p class="text-corail-100">Nill Smith</p>
          <p>- Directrice financier</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer"></div>
</body>

</html>

<script src="../lang/language.js"></script>
<script>
  $(function () {
    $("#navbar").load("navbar.html");
  });

  $(function () {
      $("#footer").load("footer.html");
    });
</script>