<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Tailwind -->
    <link href="/dist/output.css" rel="stylesheet" />

    <title data-translate="title"></title>
    <script src="js/import.js" type="module"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <!-- Navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

  <body class="bg-nude-100 font-Jost">
    <div class="mx-4 lg:mx-[200px] md:mx-[100px]">
      <div id="navbar"></div>
      <div class="flex flex-col gap-y-6">
        <div
          class="absolute w-5/12 h-[72px] bg-corail-100 left-0 rounded-r-full opacity-25 -z-10"
        ></div>
        <div class="w-8/12 flex flex-col gap-y-2">
          <h1 class="font-title text-blue-100 text-7xl opacity-100 pt-10">
            Bijoux
          </h1>
          <p class="text-blue-100 font-Jost text-base">
            "Je fabrique tous mes bijoux dans mon atelier lyonnais à la main et
            en éditions limitées pour garantir une certaine exclusivité.
            Certains d'entre eux sont même uniques en leur genre."
          </p>
          <button
            class="w-3/4 text-nude-100 bg-blue-100 px-[7px] py-[10px] rounded-3xl"
          >
            Achetez maintenant
          </button>
        </div>
        <div
          class="flex flex-wrap justify-center gap-x-4 gap-y-4 md:flex-nowrap"
        >
          <a
            href="precieuse.html"
            class="w-5/12 flex justify-center flex-col gap-y-2 items-center"
          >
            <img
              src="../images/images/photo9.jpeg"
              alt="images"
              class="h-full w-full rounded-full object-cover"
            />
            <p class="text-blue-100 font-semibold text-base uppercase">
              Précieuses
            </p>
          </a>
          <a href="#" class="w-5/12 flex flex-col gap-y-2 items-center">
            <img
              src="../images/images/photo8.jpeg"
              alt="images"
              class="h-full w-full rounded-full object-cover"
            />
            <p class="text-blue-100 font-semibold text-base uppercase">
              Impertinentes
            </p>
          </a>
          <a href="#" class="w-5/12 flex flex-col gap-y-2 items-center">
            <img
              src="../images/images/photo7.jpeg"
              alt="images"
              class="h-full w-full rounded-full object-cover"
            />
            <p class="text-blue-100 font-semibold text-base uppercase">
              Unique
            </p>
          </a>
          <a href="#" class="w-5/12 flex flex-col gap-y-2 items-center">
            <img
              src="../images/images/photo6.jpeg"
              alt="images"
              class="h-full w-full rounded-full object-cover"
            />
            <p class="text-blue-100 font-semibold text-base uppercase">
              Couleur
            </p>
          </a>
        </div>
        <div class="flex flex-col gap-y-2">
          <p class="font-extrabold text-blue-100 text-xl">
            Découvrez nos articles à la une
          </p>
          <div class="flex items-center gap-x-5 overflow-hidden">
            <div class="rounded-xl bg-white w-[270px]">
              <img
                src="../images/images/photo4.jpeg"
                alt="image"
                class="rounded-t-xl object-cover"
              />
              <div class="mt-4 mx-4 flex flex-col gap-y-4">
                <p class="text-blue-100">
                  Bracelet Family Black en tourmaline 15 cm
                </p>
                <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
              </div>
            </div>
            <div class="rounded-xl bg-white w-[270px]">
              <img
                src="../images/images/photo4.jpeg"
                alt="image"
                class="rounded-t-xl object-cover"
              />
              <div class="mt-4 mx-4 flex flex-col gap-y-4">
                <p class="text-blue-100">
                  Bracelet Family Black en tourmaline 15 cm
                </p>
                <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer"></div>
  </body>
</html>

<script>
  $(function () {
    $("#navbar").load("navbar.html");
  });

  $(function () {
    $("#footer").load("footer.html");
  });
</script>
