<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title data-translate="title"></title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;400;600;700;800&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <link rel="stylesheet" href="../dist/output.css">
</head>


<body class="bg-nude-100 font-Jost">
    <div class="mx-4 lg:mx-[200px] md:mx-[100px]">
        <div id="navbar"></div>

        
         <!-- Titre de la page -->
        <div class="titre text-center mb-10">
        <h1 class="text-blue-100 text-3xl font-bold">PRÉCIEUSES</h1>
        <p class="text-blue-100 font-bold">Découvrez nos collection de pierres précieuses :</p>
        </div>

        <!-- Bulles Navigation  -->
        <div class="flex flex-wrap md:gap-x-20 justify-center gap-x-4 gap-y-4 md:flex-nowrap">
        <a href="precieuse.html" class="w-5/12 flex justify-center flex-col gap-y-2 items-center">
            <img src="../images/images/photo9.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
            <p class="text-blue-100 font-semibold text-base uppercase">
            FAMILY
            </p>
        </a>

        <a href="#" class="w-5/12 flex flex-col gap-y-2 items-center">
            <img src="../images/images/photo8.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
            <p class="text-blue-100 font-semibold text-base uppercase">
            TRILOGY
            </p>
        </a>
        <a href="#" class="w-5/12 flex flex-col gap-y-2 items-center">
            <img src="../images/images/photo7.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
            <p class="text-blue-100 font-semibold text-base uppercase">RANA</p>
        </a>
        <a href="#" class="w-5/12 flex flex-col gap-y-2 items-center">
            <img src="../images/images/photo6.jpeg" alt="images" class="h-full w-full rounded-full object-cover" />
            <p class="text-blue-100 font-semibold text-base uppercase">PEARL</p>
        </a>
        </div>

      <!-------------------------------------------- Filtres Produits  -------------------------------------------->

      <!-- Caroussel FAMILY  -->
      <div class="flex flex-col gap-y-2 mt-10">
      <p class="font-extrabold text-blue-100 text-2xl">
        FAMILY
      </p>
        <p class="font-extrabold text-gris-300 text-sm">
        BRACELET
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
        <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
        <div class="mt-4 mx-4 flex flex-col gap-y-4">
        <p class="text-blue-100">
            Bracelet Family Black en tourmaline 15 cm
        </p>
        <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
        </div>
        </div>
      </div>
    </div>

          <!-- Caroussel Colliers FAMILY-->
      <div class="flex flex-col gap-y-2 mt-10">
        <p class="font-extrabold text-gris-300 text-sm">
        COLLIERS
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet Family Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
        <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
        <div class="mt-4 mx-4 flex flex-col gap-y-4">
        <p class="text-blue-100">
            Bracelet Family Black en tourmaline 15 cm
        </p>
        <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
        </div>
        </div>
      </div>
    </div>


      <!-- Caroussel TRILOGY  -->
      <div class="flex flex-col gap-y-2 mt-10">
      <p class="font-extrabold text-blue-100 text-2xl">
        TRILOGY
      </p>
        <p class="font-extrabold text-gris-300 text-sm">
        BRACELET
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
        <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
        <div class="mt-4 mx-4 flex flex-col gap-y-4">
        <p class="text-blue-100">
            Collier TRILOGY Black en tourmaline 15 cm
        </p>
        <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
        </div>
        </div>
      </div>
    </div>

      <!-- Caroussel Colliers TRILOGY-->
      <div class="flex flex-col gap-y-2 mt-10">
        <p class="font-extrabold text-gris-300 text-sm">
        COLLIERS
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
           <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier TRILOGY Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
      </div>
    </div>

    
      <!-- Caroussel RANA  -->
      <div class="flex flex-col gap-y-2 mt-10">
      <p class="font-extrabold text-blue-100 text-2xl">
        RANA
      </p>
        <p class="font-extrabold text-gris-300 text-sm">
        BOUCLES D'OREILLES
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
        <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
        <div class="mt-4 mx-4 flex flex-col gap-y-4">
        <p class="text-blue-100">
            Collier RANA Black en tourmaline 15 cm
        </p>
        <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
        </div>
        </div>
      </div>
    </div>

      <!-- Caroussel Colliers RANA-->
      <div class="flex flex-col gap-y-2 mt-10">
        <p class="font-extrabold text-gris-300 text-sm">
        COLLIERS
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
           <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
      </div>
    </div>


      <!-- Caroussel PEARL  -->
      <div class="flex flex-col gap-y-2 mt-10">
      <p class="font-extrabold text-blue-100 text-2xl">
        PEARL
      </p>
        <p class="font-extrabold text-gris-300 text-sm">
        BOUCLES D'OREILLES
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet RANA Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Bracelet PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
        <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
        <div class="mt-4 mx-4 flex flex-col gap-y-4">
        <p class="text-blue-100">
            Collier PEARL Black en tourmaline 15 cm
        </p>
        <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
        </div>
        </div>
      </div>
    </div>

      <!-- Caroussel Colliers PEARL-->
      <div class="flex flex-col gap-y-2 mt-10">
        <p class="font-extrabold text-gris-300 text-sm">
        COLLIERS
      </p>
      <div class="caroussel"
        data-flickity='{ "freeScroll": true, "contain": true, "prevNextButtons": false, "pageDots": true }'>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
           <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo2.jpeg" alt="image" class="rounded-t-xl object-cover w-full h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
        <div class="carousel-cell mr-4 rounded-xl bg-white w-[270px]">
          <img src="../images/images/photo4.jpeg" alt="image" class="rounded-t-xl object-cover w-full  h-[300px]" />
          <div class="mt-4 mx-4 flex flex-col gap-y-4">
            <p class="text-blue-100">
              Collier PEARL Black en tourmaline 15 cm
            </p>
            <p class="mb-4 text-blue-100 font-extrabold">50 €</p>
          </div>
        </div>
      </div>
    </div>


    </div>
    <div id="footer"></div>
</body>
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(function () {
    $("#navbar").load("navbar.html");
  });

  $(function () {
    $("#footer").load("footer.html");
  });
</script>

